:root {
    --color-1: #2b2d42;
    --color-2: #8d99ae;
    --color-3: #edf2f4;
    --color-4: #ef233c;
    --color-5: #0096c7;
    --color-6: #57cc99;
}

#game, #game-over, #game-win {
    display: none;
}

body {
    margin: 0;
    font-family: 'Poppins', Helvetica, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-2);
}

.menu {
    background-color: var(--color-3);
    padding: 1.5rem 3rem;
    border-radius: 0.25rem;
}

button {
    background-color: var(--color-5);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}

.input-group {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

input[type="number"] {
    border: 1px solid var(--color-2);
    padding: 0.5rem;
    margin-right: 0.5rem;
}

#game-win h1 {
    color: var(--color-6);
}

#game-over h1 {
    color: var(--color-4);
}